html{
    box-sizing: border-box
}
.calculator{
    border: 1px solid;
    border-radius: 5px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 380px;
}
.calculator-screen{
    box-sizing: border-box;
    height: 80px;
    border: none;
    background-color:white;
    width: 100%;
    font-size: 80px;
    text-align: right;
    padding-right: 20px;
    padding-left: 10px;
    margin-top: 5px;
    overflow: scroll;
    text-overflow: ellipsis;
}
.calculator-keys{
    margin: 5px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /*background-color: aqua;*/
}
button{
    height: 40px;
    margin: 2px;
    border: 1px solid;
    background-color: azure;
    font-size: 25px;
}
.operator{
    background-color:cornflowerblue;
    border-color: black;
}
.clear{
    background-color: crimson;
    color: white;
    border-color: black;
}
.result{
    background-color:green;
    color: white;
    border-color: black;
    height: 172px;
    grid-area: 2/4/6/5;
}
.decimal{
    grid-area: 5/1/6/2;
}